player-connection-mode=Listen
player-connection-guid=1776509218
player-connection-debug=0
player-connection-project-name=Dead Zone
player-connection-ip=192.168.0.27
player-connection-ip=172.19.159.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
